<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rcircle.service.account.mapper.InviationCodeMapper">
    <cache type="com.rcircle.service.account.redis.RedisCache"/>

    <select id="getCodeInfo" resultType="InviationCode">
        SELECT * FROM t_invitation_code
        <where>
            <if test="id != 0">id = #{id}</if>
            <if test="uid != 0">AND uid = #{uid}</if>
            <if test="code.length > 0">AND code = #{code}</if>
            <if test="used != -1">AND uesd = #{used}</if>
        </where>
        ;
    </select>

    <update id="update">
        UPDATE t_invitation_code SET used = 1,fuid=#{fuid} WHERE id = #{id}
    </update>
</mapper>